button(type=button class='btn btn-primary') Primary button
button(type=button class='btn btn-success') Primary button
button(type=button class='btn btn-danger') Primary button
button(type=button class='btn btn-outline') Primary button
button(type=button class='btn btn-disabled-new btn-outline') Primary button
div(class='row')
  div(class='col-6') 
    button(type=button class='btn btn-danger') Primary button
  div(class='col-6')
    button(type=button class='btn btn-success') Primary button
