div(class='container')
  div(class='row')
    div(class='col-12 my-3')
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='btn btn_small btn-primary') Text 1
        button(type=button class='btn btn_small btn_outline') Text 2
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='btn btn_small btn-primary') Text 3
        button(type=button class='btn btn_small btn_outline') Text 4
        button(type=button class='btn btn_small btn_outline') Text 5
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='btn btn_small btn-primary') Text 6
        button(type=button class='btn btn_small btn_outline') Text 7
        button(type=button class='btn btn_small btn_outline') Text 8
        button(type=button class='btn btn_small btn_outline') Text 9
    div(class='col-12 my-3')
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='btn btn-primary') Text 1
        button(type=button class='btn btn_outline') Text 2
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='btn btn-primary') Text 3
        button(type=button class='btn btn_outline') Text 4
        button(type=button class='btn btn_outline') Text 5
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='btn btn_outline') Text 6
        button(type=button class='btn btn-primary') Text 7
        button(type=button class='btn btn_outline') Text 8
        button(type=button class='btn btn_outline') Text 9
    div(class='col-12 my-3')
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='btn btn_large btn_outline') Text 1
        button(type=button class='btn btn_large btn-primary') Text 2
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='btn btn_large btn_outline') Text 3
        button(type=button class='btn btn_large btn-primary') Text 4
        button(type=button class='btn btn_large btn_outline') Text 5
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='btn btn_large btn_warning') Text 6
        button(type=button class='btn btn_large btn_succes') Text 7
        button(type=button class='btn btn_large btn-primary') Text 8
        button(type=button class='btn btn_large btn_danger') Text 9
    div(class='col-12 my-3')
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='btn btn-primary align-middle d-flex align-items-center')
          include icon_lightning
        button(type=button class='btn btn_outline align-middle d-flex align-items-center')
          include icon_lightning
        button(type=button class='btn btn_disabled align-middle d-flex align-items-center')
          include icon_lightning
        button(type=button class='btn btn_danger align-middle d-flex align-items-center')
          include icon_lightning 
        button(type=button class='btn btn_disabled align-middle d-flex align-items-center')
          include icon_lightning       

    
    
     
