div(class='container')
  div(class='row')
    div(class='col-12 my-3')
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='button button_small button_primary') Text 1
        button(type=button class='button button_small button_outline') Text 2
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='button button_small button_primary') Text 3
        button(type=button class='button button_small button_outline') Text 4
        button(type=button class='button button_small button_outline') Text 5
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='button button_small button_primary') Text 6
        button(type=button class='button button_small button_outline') Text 7
        button(type=button class='button button_small button_outline') Text 8
        button(type=button class='button button_small button_outline') Text 9
    div(class='col-12 my-3')
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='button button_primary') Text 1
        button(type=button class='button button_outline') Text 2
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='button button_primary') Text 3
        button(type=button class='button button_outline') Text 4
        button(type=button class='button button_outline') Text 5
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='button button_outline') Text 6
        button(type=button class='button button_primary') Text 7
        button(type=button class='button button_outline') Text 8
        button(type=button class='button button_outline') Text 9
    div(class='col-12 my-3')
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='button button_large button_outline') Text 1
        button(type=button class='button button_large button_primary') Text 2
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='button button_large button_outline') Text 3
        button(type=button class='button button_large button_primary') Text 4
        button(type=button class='button button_large button_outline') Text 5
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='button button_large button_warning') Text 6
        button(type=button class='button button_large button_succes') Text 7
        button(type=button class='button button_large button_primary') Text 8
        button(type=button class='button button_large button_danger') Text 9
    div(class='col-12 my-3')
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='button button_primary align-middle d-flex align-items-center')
          include icon_lightning
        button(type=button class='button button_outline align-middle d-flex align-items-center')
          include icon_lightning
        button(type=button class='button button_disabled align-middle d-flex align-items-center')
          include icon_lightning
        button(type=button class='button button_danger align-middle d-flex align-items-center')
          include icon_lightning 
        button(type=button class='button button_disabled align-middle d-flex align-items-center')
          include icon_lightning       

    
    
     
