div(class='btn-group mr-5 mb-3' type='group' data-toggle='multiple')
  button(type=button class='button_primary') Text 1
  button(type=button class='button_outline') Text 2
  button(type=button class='button_outline') Text 3
  button(type=button class='button_primary') Text 4
  button(type=button class='button_outline') Text 5
div(class='btn-group mr-5 mb-3' type='group' data-toggle='select')
  button(type=button class='button_primary') Text 1
  button(type=button class='button_outline') Text 2
  button(type=button class='button_outline') Text 3
  button(type=button class='button_outline') Text 4
  button(type=button class='button_outline') Text 5 
